# Supabase - prendi questi valori da Project Settings > API
NEXT_PUBLIC_SUPABASE_URL=https://vfnrhrvzqtedzfkucmct.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZmbnJocnZ6cXRlZHpma3VjbWN0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1ODAyNjIsImV4cCI6MjA5MzE1NjI2Mn0.6Kvl48Ev1kTvDZCmHW4X8cVtSxz7oXnTghAdxFJ8ae0

# Service role key (SOLO server-side, mai esporlo al client)
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZmbnJocnZ6cXRlZHpma3VjbWN0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzU4MDI2MiwiZXhwIjoyMDkzMTU2MjYyfQ.iMeY_AeC8hm1OeWS8ggB0TV4_zoH7UslALR2z4RvHSg